body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;

}

.container .esquerda {
    display: flex;
    width: 50%;
    height: 100%;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #6194ef;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.container .esquerda h1 {
    font-size: 50px;
}

.container .esquerda p {
    font-size: 30px;
}

.container .esquerda button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
}

.container .direita {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container .direita h1 {
    font-size: 50px;
}

.container .direita .inp {
    display: flex;
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ededed;
}

.container .direita .inp .campo {
    width: 90%;
    height: 100%;
}

.container .direita .inp .campo input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: transparent;
}

.container .direita .inp .icone {
    display: flex;
    width: 10%;
    height: 100%;
    color: #7c7c7c;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.container .direita a {
    text-decoration: none;
    color: #0f0e0ec1;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

.container .direita button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #6194ef;
    margin-top: 20px;
}

.container .direita .opcoes {
    display: flex;
    width: 35%;
    height: 50px;
    justify-content: space-between;

}

.container .direita .opcoes .opcao {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    border: 1px solid #989898;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;

}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .container .esquerda {
        width: 100%;
        height: 40%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-bottom: 20px;
        /* text-align: center; */
    }
    .container h1 {
        font-size: 30px;
    }

    .container .esquerda p {
        font-size: 20px;
    }

    .container .direita {
        width: 100%;
        height: 75%;
    }

    .container .direita .opcoes {
        width: 100%;
    }

    .container .direita .opcoes .opcao {
    width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    .container .direita {
        width: 100%;
        height: 75%;
    }

    .direita .direita .inp {
        width: 90%;
    }

    .container .direita .opcoes {
        width: 60%;
    }

}
@media (max-width: 1023px) {
    .container .esquerda .opcoes {
        width: 50%;
        
    }
   
}